In [1]:
import pandas as pd
import ast
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem.porter import PorterStemmer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data1 = pd.read_csv('Movie-Data.csv')
data2 = pd.read_csv('Movie.csv')

In [3]:
data1.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
data2.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
data = pd.merge(data2,data1,on='title',how='inner')

In [6]:
data.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
data = data[['movie_id','title','overview','genres','keywords','cast','crew']]

In [8]:
data.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [9]:
data.dropna(inplace=True)

In [10]:
data.duplicated().sum()

0

# Data Preprossesing

In [11]:
data.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4806 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4806 non-null   int64
 1   title     4806 non-null   object
 2   overview  4806 non-null   object
 3   genres    4806 non-null   object
 4   keywords  4806 non-null   object
 5   cast      4806 non-null   object
 6   crew      4806 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.4+ KB

In [13]:
data['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [14]:
def conver_tag(x):
    l = []
    for i in (range(len(ast.literal_eval(x)))):
        l.append(ast.literal_eval(x)[i]['name'])
    return l

In [15]:
data['genres'] = data['genres'].apply(conver_tag)

In [16]:
data['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [17]:
data['keywords'] = data['keywords'].apply(conver_tag)

In [18]:
data['cast'][0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [19]:
def conver_tag_cast(x):
    l = []
    cast = ast.literal_eval(x)
    for i in cast:
        l.append(i['name'])
    return l

In [20]:
data['cast'] = data['cast'].apply(conver_tag_cast)

In [21]:
data['cast']

0       [Sam Worthington, Zoe Saldana, Sigourney Weave...
1       [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2       [Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...
3       [Christian Bale, Michael Caine, Gary Oldman, A...
4       [Taylor Kitsch, Lynn Collins, Samantha Morton,...
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805    [Edward Burns, Kerry BishÃ©, Marsha Dietlein, C...
4806    [Eric Mabius, Kristin Booth, Crystal Lowe, Geo...
4807    [Daniel Henney, Eliza Coupe, Bill Paxton, Alan...
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldm...
Name: cast, Length: 4806, dtype: object

In [22]:
def crew_tag(x):
    l = []
    for i in ast.literal_eval(x):
        if i['job'] == 'Director':
            l.append(i['name'])
            break
    return l

In [23]:
data['crew'] = data['crew'].apply(crew_tag)

In [24]:
data['overview']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bondâ€™s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: overview, Length: 4806, dtype: object

In [25]:
data['overview'] = data['overview'].apply(lambda x:x.split(' '))

In [26]:
data['overview']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bondâ€™s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [27]:
data.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]

In [28]:
data['genres'] = data['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [29]:
data['keywords'] = data['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [30]:
data['cast'] = data['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [31]:
data['crew'] = data['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [32]:
data.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]

In [33]:
data['tags'] = data['overview'] + data['genres'] + data['cast'] + data['keywords'] + data['crew']

In [34]:
data.head(3)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux, Ralp...",[SamMendes],"[A, cryptic, message, from, Bondâ€™s, past, send..."

In [35]:
data = data[['movie_id','title','tags']]

In [36]:
data

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [37]:
data['tags'] = data['tags'].apply(lambda x :' '.join(x))

In [38]:
data

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [39]:
data['tags'] = data['tags'].apply(lambda x:x.lower())

In [40]:
data

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,a newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4808,25975,My Date with Drew,ever since the second grade when he first saw ...

In [41]:
def stem(x):
    l = []
    for i in x.split(' '):
        l.append(PorterStemmer().stem(i))  # PorterStemmer().stem is function of nltk it used to remove similar word feature
        
    return " ".join(l)  # conver list into string

In [42]:
data['tags'] = data['tags'].apply(stem)

In [43]:
data

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bondâ€™ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4805,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...

# Text-To-Vector

In [44]:
cv = CountVectorizer(max_features=5000,stop_words='english')  # stop_word is used to remove word like "is,the,a,was,this"
vector = cv.fit_transform(data['tags']).toarray()             # max_feature is top 5000 repeated words

In [45]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [46]:
vector[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [47]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zoo', 'zooeydeschanel', 'zoÃ«kravitz'],
      dtype=object)

In [48]:
len(cv.get_feature_names_out())

5000

In [49]:
similarity = cosine_similarity(vector)  # it masure distence with all row one by one like leave one out cross validation

In [50]:
similarity.shape

(4806, 4806)

In [51]:
similarity[1]

array([0.06668313, 1.        , 0.07476672, ..., 0.02106314, 0.        ,
       0.02248469])

In [52]:
list(enumerate(similarity[0]))

[(0, 0.9999999999999998),
 (1, 0.06668313367115805),
 (2, 0.07644707871564382),
 (3, 0.07733602811121826),
 (4, 0.1672484020014182),
 (5, 0.08945703337056415),
 (6, 0.03603749850782236),
 (7, 0.11396057645963793),
 (8, 0.045980048987170286),
 (9, 0.07597371763975862),
 (10, 0.09196009797434057),
 (11, 0.0844400661841498),
 (12, 0.07435223956449145),
 (13, 0.03683547343418787),
 (14, 0.107682623063487),
 (15, 0.06154574548966637),
 (16, 0.06333004963811235),
 (17, 0.12267493651573677),
 (18, 0.0876249546540977),
 (19, 0.07479575920067658),
 (20, 0.052486388108147805),
 (21, 0.09090909090909091),
 (22, 0.05802588531856595),
 (23, 0.07435223956449145),
 (24, 0.047088160934801115),
 (25, 0.0316069770620507),
 (26, 0.11980845957463077),
 (27, 0.1670106642806712),
 (28, 0.09656090991705352),
 (29, 0.05838742081211422),
 (30, 0.05444655064804708),
 (31, 0.12392039927415242),
 (32, 0.07156562669645132),
 (33, 0.07242068243779014),
 (34, 0.0),
 (35, 0.07435223956449145),
 (36, 0.1492405014489273),
 (37, 0.06818181818181818),
 (38, 0.06963106238227913),
 (39, 0.06897007348075543),
 (40, 0.05990422978731538),
 (41, 0.1463423517512409),
 (42, 0.0),
 (43, 0.10163945352271772),
 (44, 0.052486388108147805),
 (45, 0.07658395810674837),
 (46, 0.12792042981336627),
 (47, 0.17986923354612536),
 (48, 0.07312724241271307),
 (49, 0.053300179088902604),
 (50, 0.1019294382875251),
 (51, 0.07259540086406277),
 (52, 0.09651142956027287),
 (53, 0.05990422978731538),
 (54, 0.053300179088902604),
 (55, 0.06502560887623551),
 (56, 0.1399731277389636),
 (57, 0.03925343359894298),
 (58, 0.06043672230190352),
 (59, 0.07009996372327816),
 (60, 0.016854996561581053),
 (61, 0.19596237883454903),
 (62, 0.06428243465332249),
 (63, 0.07597371763975862),
 (64, 0.024455799402225926),
 (65, 0.01664817895530067),
 (66, 0.020327890704543543),
 (67, 0.1292191476761844),
 (68, 0.09417632186960223),
 (69, 0.02421797398482414),
 (70, 0.06818181818181818),
 (71, 0.06668313367115805),
 (72, 0.11236664374387369),
 (73, 0.026243194054073903),
 (74, 0.186370957476581),
 (75, 0.09656090991705352),
 (76, 0.06333004963811235),
 (77, 0.012651134984231437),
 (78, 0.045454545454545456),
 (79, 0.05222329678670935),
 (80, 0.045226701686664546),
 (81, 0.09928550884822428),
 (82, 0.06396021490668313),
 (83, 0.1688801323682996),
 (84, 0.11306675421666137),
 (85, 0.10201870653259057),
 (86, 0.06043672230190352),
 (87, 0.10050378152592121),
 (88, 0.07537783614444091),
 (89, 0.05042729056592992),
 (90, 0.05802588531856595),
 (91, 0.14484136487558028),
 (92, 0.057437968580061276),
 (93, 0.06897007348075543),
 (94, 0.13336626734231613),
 (95, 0.12196734422726126),
 (96, 0.06596992457003137),
 (97, 0.06596992457003137),
 (98, 0.07063224140220167),
 (99, 0.045980048987170286),
 (100, 0.053300179088902604),
 (101, 0.05990422978731538),
 (102, 0.11219363880101488),
 (103, 0.07312724241271307),
 (104, 0.05096471914376255),
 (105, 0.07063224140220167),
 (106, 0.0502518907629606),
 (107, 0.055670221426890404),
 (108, 0.12792042981336627),
 (109, 0.059131239598908265),
 (110, 0.03504998186163908),
 (111, 0.11877113736973437),
 (112, 0.06818181818181818),
 (113, 0.03711348095126027),
 (114, 0.038604571824109146),
 (115, 0.040291148201269014),
 (116, 0.044455422447438706),
 (117, 0.05504818825631803),
 (118, 0.03045724519365863),
 (119, 0.03798685881987931),
 (120, 0.0),
 (121, 0.08703882797784893),
 (122, 0.11495012246792571),
 (123, 0.10163945352271772),
 (124, 0.058880150398414474),
 (125, 0.07485976927589244),
 (126, 0.107682623063487),
 (127, 0.13483997249264842),
 (128, 0.0),
 (129, 0.07850686719788597),
 (130, 0.023262105259961773),
 (131, 0.09090909090909091),
 (132, 0.06043672230190352),
 (133, 0.025125945381480302),
 (134, 0.10660035817780521),
 (135, 0.0),
 (136, 0.02111001654603745),
 (137, 0.02707651805369412),
 (138, 0.11236664374387369),
 (139, 0.14414999403128945),
 (140, 0.03993615319154359),
 (141, 0.0799502686333539),
 (142, 0.07537783614444091),
 (143, 0.08058229640253803),
 (144, 0.0422200330920749),
 (145, 0.0167506302543202),
 (146, 0.014642685316435568),
 (147, 0.04956815970966097),
 (148, 0.1019294382875251),
 (149, 0.13005121775247103),
 (150, 0.14716573653773893),
 (151, 0.18463723646899916),
 (152, 0.0652791209833867),
 (153, 0.0888336318148377),
 (154, 0.05802588531856595),
 (155, 0.019145989526687092),
 (156, 0.055670221426890404),
 (157, 0.1257389226923863),
 (158, 0.1421338109037403),
 (159, 0.047088160934801115),
 (160, 0.10770505460691618),
 (161, 0.026650089544451302),
 (162, 0.029565619799454133),
 (163, 0.044946657497549475),
 (164, 0.07336739820667777),
 (165, 0.04181210050035454),
 (166, 0.107682623063487),
 (167, 0.10497277621629561),
 (168, 0.15731330124142318),
 (169, 0.07658395810674837),
 (170, 0.09349469900084573),
 (171, 0.02090605025017727),
 (172, 0.1624591083221647),
 (173, 0.019968076595771794),
 (174, 0.06818181818181818),
 (175, 0.06396021490668313),
 (176, 0.026650089544451302),
 (177, 0.027524094128159014),
 (178, 0.020707884164064556),
 (179, 0.05698028822981897),
 (180, 0.018993429409939654),
 (181, 0.03925343359894298),
 (182, 0.09349469900084573),
 (183, 0.06253053994807224),
 (184, 0.16685595311797868),
 (185, 0.06596992457003137),
 (186, 0.052574972792458624),
 (187, 0.13193984914006274),
 (188, 0.03993615319154359),
 (189, 0.09231861823449956),
 (190, 0.07367094686837573),
 (191, 0.0422200330920749),
 (192, 0.0430730492253948),
 (193, 0.08663864733868616),
 (194, 0.0),
 (195, 0.046524210519923545),
 (196, 0.04264014327112209),
 (197, 0.03270349700838643),
 (198, 0.04891159880445185),
 (199, 0.09572994763343545),
 (200, 0.08257228238447704),
 (201, 0.0),
 (202, 0.025854384499750957),
 (203, 0.09304842103984709),
 (204, 0.06596992457003137),
 (205, 0.06286946134619315),
 (206, 0.11583309365626165),
 (207, 0.06978631577988531),
 (208, 0.13483997249264842),
 (209, 0.0799502686333539),
 (210, 0.06596992457003137),
 (211, 0.021320071635561044),
 (212, 0.05990422978731538),
 (213, 0.08945703337056415),
 (214, 0.045980048987170286),
 (215, 0.058880150398414474),
 (216, 0.05802588531856595),
 (217, 0.08206099398622183),
 (218, 0.028490144114909487),
 (219, 0.06897007348075543),
 (220, 0.15289415743128765),
 (221, 0.04181210050035454),
 (222, 0.07537783614444091),
 (223, 0.09534625892455924),
 (224, 0.05444655064804708),
 (225, 0.0422200330920749),
 (226, 0.026650089544451302),
 (227, 0.07150969419341943),
 (228, 0.10257624248277727),
 (229, 0.09753841331435328),
 (230, 0.08590101659300618),
 (231, 0.0),
 (232, 0.1019294382875251),
 (233, 0.0799502686333539),
 (234, 0.08131156281817417),
 (235, 0.06897007348075543),
 (236, 0.0978231976089037),
 (237, 0.05598925109558543),
 (238, 0.10241831129983782),
 (239, 0.09140905301589133),
 (240, 0.044946657497549475),
 (241, 0.07242068243779014),
 (242, 0.07063224140220167),
 (243, 0.07987230638308718),
 (244, 0.08122955416108235),
 (245, 0.06741998624632421),
 (246, 0.06963106238227913),
 (247, 0.0),
 (248, 0.04103049699311091),
 (249, 0.10830607221477648),
 (250, 0.0),
 (251, 0.033709993123162106),
 (252, 0.018417736717093933),
 (253, 0.06154574548966637),
 (254, 0.06460957383809221),
 (255, 0.022227711223719353),
 (256, 0.08547043234472845),
 (257, 0.06098367211363063),
 (258, 0.017766726362967538),
 (259, 0.052486388108147805),
 (260, 0.1809806914982567),
 (261, 0.02111001654603745),
 (262, 0.09496714704969828),
 (263, 0.07756315349925287),
 (264, 0.0),
 (265, 0.025125945381480302),
 (266, 0.0879598994267085),
 (267, 0.05415303610738824),
 (268, 0.04351941398892446),
 (269, 0.024455799402225926),
 (270, 0.09897594780811197),
 (271, 0.06668313367115805),
 (272, 0.024784079854830485),
 (273, 0.036563621206356534),
 (274, 0.08190636601015908),
 (275, 0.12392039927415242),
 (276, 0.04767312946227962),
 (277, 0.04848811378764269),
 (278, 0.08058229640253803),
 (279, 0.06154574548966637),
 (280, 0.0422200330920749),
 (281, 0.051540609955803715),
 (282, 0.020515248496555456),
 (283, 0.023262105259961773),
 (284, 0.017292861596651866),
 (285, 0.01664817895530067),
 (286, 0.07009996372327816),
 (287, 0.018698939800169144),
 (288, 0.024455799402225926),
 (289, 0.04181210050035454),
 (290, 0.05504818825631803),
 (291, 0.044455422447438706),
 (292, 0.07435223956449145),
 (293, 0.02383656473113981),
 (294, 0.12227899701112963),
 (295, 0.09196009797434057),
 (296, 0.036297700432031385),
 (297, 0.04103049699311091),
 (298, 0.0),
 (299, 0.052933850493043916),
 (300, 0.15075567228888181),
 (301, 0.08375315127160099),
 (302, 0.06396021490668313),
 (303, 0.02414022747926338),
 (304, 0.06035056869815845),
 (305, 0.1670106642806712),
 (306, 0.07435223956449145),
 (307, 0.09798118941727452),
 (308, 0.05698028822981897),
 (309, 0.05598925109558543),
 (310, 0.028239124736245253),
 (311, 0.1292191476761844),
 (312, 0.08891084489487741),
 (313, 0.051708768999501914),
 (314, 0.0),
 (315, 0.07435223956449145),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.08257228238447704),
 (320, 0.023544080467400558),
 (321, 0.0),
 (322, 0.20691022044226628),
 (323, 0.025854384499750957),
 (324, 0.022473328748774737),
 (325, 0.07336739820667779),
 (326, 0.04767312946227962),
 (327, 0.024784079854830485),
 (328, 0.022227711223719353),
 (329, 0.06212365249219367),
 (330, 0.08206099398622183),
 (331, 0.08362420100070908),
 (332, 0.10050378152592121),
 (333, 0.021989974856677124),
 (334, 0.08703882797784893),
 (335, 0.040655781409087086),
 (336, 0.05802588531856595),
 (337, 0.04141576832812911),
 (338, 0.0),
 (339, 0.04181210050035454),
 (340, 0.044455422447438706),
 (341, 0.06897007348075543),
 (342, 0.1446354779699756),
 (343, 0.017180203318601237),
 (344, 0.025482359571881275),
 (345, 0.020707884164064556),
 (346, 0.0),
 (347, 0.0),
 (348, 0.052486388108147805),
 (349, 0.07435223956449145),
 (350, 0.0430730492253948),
 (351, 0.0),
 (352, 0.02414022747926338),
 (353, 0.036297700432031385),
 (354, 0.019302285912054573),
 (355, 0.03413943709994594),
 (356, 0.08257228238447704),
 (357, 0.0),
 (358, 0.053300179088902604),
 (359, 0.027524094128159014),
 (360, 0.018556740475630135),
 (361, 0.06460957383809221),
 (362, 0.07150969419341943),
 (363, 0.0876249546540977),
 (364, 0.019968076595771794),
 (365, 0.06154574548966637),
 (366, 0.051708768999501914),
 (367, 0.0),
 (368, 0.10497277621629561),
 (369, 0.07435223956449145),
 (370, 0.0430730492253948),
 (371, 0.08703882797784893),
 (372, 0.04351941398892446),
 (373, 0.14782809899727067),
 (374, 0.034815531191139566),
 (375, 0.05444655064804708),
 (376, 0.04103049699311091),
 (377, 0.0),
 (378, 0.0),
 (379, 0.05405624776173354),
 (380, 0.044946657497549475),
 (381, 0.06917144638660747),
 (382, 0.0),
 (383, 0.08206099398622183),
 (384, 0.05504818825631803),
 (385, 0.0),
 (386, 0.018993429409939654),
 (387, 0.020707884164064556),
 (388, 0.0),
 (389, 0.0787295821622217),
 (390, 0.021989974856677124),
 (391, 0.0518785847899556),
 (392, 0.026650089544451302),
 (393, 0.0),
 (394, 0.02090605025017727),
 (395, 0.044455422447438706),
 (396, 0.035289233662029275),
 (397, 0.045454545454545456),
 (398, 0.0),
 (399, 0.0422200330920749),
 (400, 0.07537783614444091),
 (401, 0.027524094128159014),
 (402, 0.07150969419341943),
 (403, 0.07106690545187015),
 (404, 0.052486388108147805),
 (405, 0.051708768999501914),
 (406, 0.018281810603178267),
 (407, 0.044946657497549475),
 (408, 0.028490144114909487),
 (409, 0.0),
 (410, 0.08891084489487741),
 (411, 0.0430730492253948),
 (412, 0.08283153665625823),
 (413, 0.1256297269074015),
 (414, 0.026650089544451302),
 (415, 0.05444655064804708),
 (416, 0.04397994971335425),
 (417, 0.027524094128159014),
 (418, 0.02707651805369412),
 (419, 0.0844400661841498),
 (420, 0.09984038297885897),
 (421, 0.019795189561622396),
 (422, 0.1019294382875251),
 (423, 0.03798685881987931),
 (424, 0.033709993123162106),
 (425, 0.09572994763343545),
 (426, 0.048769206657176635),
 (427, 0.026243194054073903),
 (428, 0.05120915564991892),
 (429, 0.0),
 (430, 0.045980048987170286),
 (431, 0.020707884164064556),
 (432, 0.10257624248277727),
 (433, 0.025125945381480302),
 (434, 0.0),
 (435, 0.03143473067309657),
 (436, 0.0),
 (437, 0.022473328748774737),
 (438, 0.10994987428338562),
 (439, 0.022473328748774737),
 (440, 0.02175970699446223),
 (441, 0.04891159880445185),
 (442, 0.040655781409087086),
 (443, 0.05367422002233849),
 (444, 0.0),
 (445, 0.0844400661841498),
 (446, 0.020145574100634507),
 (447, 0.05790685773616372),
 (448, 0.03603749850782236),
 (449, 0.09304842103984709),
 (450, 0.018556740475630135),
 (451, 0.022473328748774737),
 (452, 0.026650089544451302),
 (453, 0.022227711223719353),
 (454, 0.10879853497231115),
 (455, 0.05609681940050743),
 (456, 0.040291148201269014),
 (457, 0.07336739820667779),
 (458, 0.040655781409087086),
 (459, 0.032141217326661246),
 (460, 0.020707884164064556),
 (461, 0.12741179785940637),
 (462, 0.030001500112509377),
 (463, 0.029565619799454133),
 (464, 0.0),
 (465, 0.0),
 (466, 0.11396057645963795),
 (467, 0.09572994763343545),
 (468, 0.025125945381480302),
 (469, 0.055670221426890404),
 (470, 0.040655781409087086),
 (471, 0.05609681940050743),
 (472, 0.09196009797434057),
 (473, 0.0778498944161523),
 (474, 0.0),
 (475, 0.03993615319154359),
 (476, 0.11396057645963795),
 (477, 0.0),
 (478, 0.049944536865902014),
 (479, 0.08175874252096607),
 (480, 0.08989331499509895),
 (481, 0.0),
 (482, 0.020145574100634507),
 (483, 0.1019294382875251),
 (484, 0.050251890762960605),
 (485, 0.047088160934801115),
 (486, 0.07463517925331653),
 (487, 0.11197850219117086),
 (488, 0.061545745489666376),
 (489, 0.0),
 (490, 0.12309149097933275),
 (491, 0.09208868358546966),
 (492, 0.06978631577988531),
 (493, 0.02836380138986998),
 (494, 0.0),
 (495, 0.1679677532867563),
 (496, 0.01598006930251483),
 (497, 0.0),
 (498, 0.06428243465332249),
 (499, 0.0),
 (500, 0.021989974856677124),
 (501, 0.07259540086406277),
 (502, 0.12424730498438732),
 (503, 0.06741998624632421),
 (504, 0.0),
 (505, 0.11826247919781653),
 (506, 0.027524094128159014),
 (507, 0.22613350843332275),
 (508, 0.08206099398622183),
 (509, 0.019795189561622396),
 (510, 0.09090909090909091),
 (511, 0.07756315349925287),
 (512, 0.026650089544451302),
 (513, 0.12792042981336627),
 (514, 0.04181210050035454),
 (515, 0.02090605025017727),
 (516, 0.022990024493585143),
 (517, 0.0),
 (518, 0.04264014327112209),
 (519, 0.0),
 (520, 0.0),
 (521, 0.045980048987170286),
 (522, 0.022473328748774737),
 (523, 0.044946657497549475),
 (524, 0.0),
 (525, 0.04141576832812911),
 (526, 0.024455799402225926),
 (527, 0.028490144114909487),
 (528, 0.02090605025017727),
 (529, 0.1507556722888818),
 (530, 0.045980048987170286),
 (531, 0.044455422447438706),
 (532, 0.020327890704543543),
 (533, 0.05096471914376255),
 (534, 0.07106690545187015),
 (535, 0.08891084489487741),
 (536, 0.10353942082032278),
 (537, 0.06030226891555273),
 (538, 0.0),
 (539, 0.22613350843332272),
 (540, 0.06098367211363063),
 (541, 0.07720914364821829),
 (542, 0.034815531191139566),
 (543, 0.06212365249219367),
 (544, 0.10050378152592121),
 (545, 0.0215365246126974),
 (546, 0.05598925109558543),
 (547, 0.07063224140220167),
 (548, 0.0),
 (549, 0.10994987428338562),
 (550, 0.020327890704543543),
 (551, 0.05330017908890261),
 (552, 0.0),
 (553, 0.024784079854830485),
 (554, 0.0),
 (555, 0.03836078769656734),
 (556, 0.022473328748774737),
 (557, 0.10994987428338562),
 (558, 0.0),
 (559, 0.025125945381480302),
 (560, 0.03251280443811776),
 (561, 0.027524094128159014),
 (562, 0.04828045495852676),
 (563, 0.022990024493585143),
 (564, 0.07756315349925287),
 (565, 0.03739787960033829),
 (566, 0.018844459036110227),
 (567, 0.021320071635561044),
 (568, 0.1256297269074015),
 (569, 0.04103049699311091),
 (570, 0.05504818825631803),
 (571, 0.03578281334822566),
 (572, 0.09651142956027287),
 (573, 0.017766726362967538),
 (574, 0.04141576832812911),
 (575, 0.03993615319154359),
 (576, 0.045454545454545456),
 (577, 0.20100756305184242),
 (578, 0.037688918072220454),
 (579, 0.1207011373963169),
 (580, 0.0215365246126974),
 (581, 0.1399731277389636),
 (582, 0.23354968324845687),
 (583, 0.033709993123162106),
 (584, 0.06286946134619315),
 (585, 0.02175970699446223),
 (586, 0.06212365249219367),
 (587, 0.06978631577988531),
 (588, 0.023262105259961773),
 (589, 0.11776030079682895),
 (590, 0.027524094128159014),
 (591, 0.05405624776173354),
 (592, 0.020145574100634507),
 (593, 0.0),
 (594, 0.045980048987170286),
 (595, 0.15392982399673985),
 (596, 0.08362420100070908),
 (597, 0.051708768999501914),
 (598, 0.025854384499750957),
 (599, 0.03836078769656734),
 (600, 0.06333004963811235),
 (601, 0.030772872744833188),
 (602, 0.08362420100070908),
 (603, 0.04828045495852676),
 (604, 0.05698028822981897),
 (605, 0.025125945381480302),
 (606, 0.0),
 (607, 0.07207499701564472),
 (608, 0.0),
 (609, 0.04141576832812911),
 (610, 0.05393598899705937),
 (611, 0.019795189561622396),
 (612, 0.07597371763975862),
 (613, 0.032141217326661246),
 (614, 0.0422200330920749),
 (615, 0.05504818825631803),
 (616, 0.050251890762960605),
 (617, 0.046524210519923545),
 (618, 0.07312724241271307),
 (619, 0.0),
 (620, 0.0),
 (621, 0.05698028822981897),
 (622, 0.03959037912324479),
 (623, 0.0),
 (624, 0.08703882797784893),
 (625, 0.027994625547792716),
 (626, 0.06596992457003137),
 (627, 0.09642365197998373),
 (628, 0.04264014327112209),
 (629, 0.04141576832812911),
 (630, 0.020327890704543543),
 (631, 0.046524210519923545),
 (632, 0.09196009797434057),
 (633, 0.018148850216015693),
 (634, 0.06741998624632421),
 (635, 0.05938556868486719),
 (636, 0.021320071635561044),
 (637, 0.04181210050035454),
 (638, 0.027994625547792716),
 (639, 0.0),
 (640, 0.05790685773616372),
 (641, 0.0),
 (642, 0.0),
 (643, 0.08891084489487741),
 (644, 0.04397994971335425),
 (645, 0.03959037912324479),
 (646, 0.045454545454545456),
 (647, 0.04103049699311091),
 (648, 0.026243194054073903),
 (649, 0.0),
 (650, 0.046524210519923545),
 (651, 0.0),
 (652, 0.03925343359894298),
 (653, 0.09231861823449956),
 (654, 0.10889310129609417),
 (655, 0.0652791209833867),
 (656, 0.0),
 (657, 0.06428243465332249),
 (658, 0.044455422447438706),
 (659, 0.022227711223719353),
 (660, 0.08703882797784893),
 (661, 0.15075567228888181),
 (662, 0.0),
 (663, 0.0),
 (664, 0.051708768999501914),
 (665, 0.06333004963811235),
 (666, 0.046524210519923545),
 (667, 0.0),
 (668, 0.12060453783110546),
 (669, 0.024784079854830485),
 (670, 0.015151515151515152),
 (671, 0.08058229640253803),
 (672, 0.025125945381480302),
 (673, 0.01706971854997297),
 (674, 0.06154574548966637),
 (675, 0.03925343359894298),
 (676, 0.02414022747926338),
 (677, 0.022227711223719353),
 (678, 0.10497277621629561),
 (679, 0.0),
 (680, 0.06978631577988531),
 (681, 0.024784079854830485),
 (682, 0.018148850216015693),
 (683, 0.04264014327112209),
 (684, 0.0),
 (685, 0.025125945381480302),
 (686, 0.027994625547792716),
 (687, 0.09417632186960223),
 (688, 0.038291979053374184),
 (689, 0.0),
 (690, 0.02111001654603745),
 (691, 0.04891159880445185),
 (692, 0.09422229518055114),
 (693, 0.026243194054073903),
 (694, 0.018993429409939654),
 (695, 0.05504818825631803),
 (696, 0.019795189561622396),
 (697, 0.0),
 (698, 0.040291148201269014),
 (699, 0.029012942659282975),
 (700, 0.023544080467400558),
 (701, 0.05504818825631803),
 (702, 0.020515248496555456),
 (703, 0.019968076595771794),
 (704, 0.05938556868486719),
 (705, 0.02111001654603745),
 (706, 0.019302285912054573),
 (707, 0.026243194054073903),
 (708, 0.04397994971335425),
 (709, 0.018281810603178267),
 (710, 0.05405624776173354),
 (711, 0.044946657497549475),
 (712, 0.0),
 (713, 0.0215365246126974),
 (714, 0.0),
 (715, 0.08547043234472845),
 (716, 0.02414022747926338),
 (717, 0.0),
 (718, 0.03993615319154359),
 (719, 0.0),
 (720, 0.023544080467400558),
 (721, 0.028490144114909487),
 (722, 0.0),
 (723, 0.022473328748774737),
 (724, 0.0215365246126974),
 (725, 0.0),
 (726, 0.0),
 (727, 0.028239124736245253),
 (728, 0.0627181507505318),
 (729, 0.04181210050035454),
 (730, 0.04592075811919703),
 (731, 0.04397994971335425),

In [53]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1214, 0.26837110011169246),
 (582, 0.23354968324845687),
 (2329, 0.23221018200641194),
 (507, 0.22613350843332275),
 (539, 0.22613350843332272)]

# Final Output

In [54]:
def recomend(movie):
    index = data[data['title'] == movie].index[0]  
    movie_list = sorted(list(enumerate(similarity[index])),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(data.iloc[i[0]].title)

In [55]:
recomend("The Dark Knight Rises")      #Try Movie That Is Given Below

The Dark Knight
Batman Begins
Batman Returns
Batman
Batman Forever

In [56]:
data.head(15)

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bondâ€™ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
5,559,Spider-Man 3,the seemingli invinc spider-man goe up against...
6,38757,Tangled,when the kingdom' most wanted-and most charmin...
7,99861,Avengers: Age of Ultron,when toni stark tri to jumpstart a dormant pea...
8,767,Harry Potter and the Half-Blood Prince,"as harri begin hi sixth year at hogwarts, he d..."
9,209112,Batman v Superman: Dawn of Justice,fear the action of a god-lik super hero left u...
10,1452,Superman Returns,superman return to discov hi 5-year absenc ha ...
11,10764,Quantum of Solace,quantum of solac continu the adventur of jame ...
12,58,Pirates of the Caribbean: Dead Man's Chest,captain jack sparrow work hi way out of a bloo...
13,57201,The Lone Ranger,the texa ranger chase down a gang of outlaw le...
14,49521,Man of Steel,a young boy learn that he ha extraordinari pow...

In [57]:
import pickle

In [58]:

pickle.dump(data,open('Moviess.pkl','wb'))

In [59]:
pickle.dump(similarity,open('similarity.pkl','wb'))